/*----------------- GENERAL -----------------*/
/*https://fonts.google.com/specimen/Kufam?sidebar.open=true&selection.family=Kufam:wght@400;500;700*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;700&display=swap'); /* Import de la police Kufam de google font avec différentes graisses */
 
html, body{ 
    margin: 0; /* retrait du margin prédéfinit pour éviter les différences de résultats sur les navigateurs */
    padding: 0; /* retrait du padding pour les mêmes raison */
    font-family: 'Kufam', cursive; /* on définit la police Kufam qu'on à importé comme la police de base du document */
    text-shadow: 1px 1px 2px #000000a6; /* le texte étant blanc sur des couleurs le text shadow permet de le faire mieux ressortir (x , y, dispersion, couleur)*/
    /* il est recommandé d'utiliser un générateur pour faire des tests et comprendre le fonctionnement */
}
